<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minbingtuan.mywork"
    android:versionCode="1"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/mbt"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.minbingtuan.mywork.activity.MyLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.NOKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.minbingtuan.mywork.activity.MyRegisterActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity android:name="com.minbingtuan.mywork.activity.MyGroupActivity" />
        <activity
            android:name="com.minbingtuan.mywork.activity.MyWorkActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity android:name="com.minbingtuan.mywork.activity.MyPersonActivity" />
        <activity
            android:name="com.minbingtuan.mywork.activity.MySettingActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity
            android:name="com.minbingtuan.mywork.activity.MySearchActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity
            android:name="com.minbingtuan.mywork.activity.SearchActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity
            android:name="com.minbingtuan.mywork.activity.AboutOurActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity
            android:name="com.minbingtuan.mywork.activity.BackPwdActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity
            android:name="com.minbingtuan.mywork.activity.MyChangePwdActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />
        <activity
            android:name="com.minbingtuan.mywork.activity.SetPwdActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme" />

        <service android:name="com.minbingtuan.mywork.service.MyAMapGpsService" >
            <intent-filter>
                <action android:name="com.minbingtuan.mywork.service.MyAMapGpsService" />
            </intent-filter>
        </service>
        <service android:name="com.minbingtuan.mywork.service.MyPositonService" >
            <intent-filter>
                <action android:name="com.minbingtuan.mywork.service.MyPositonService" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <service 
            android:name="com.minbingtuan.mywork.service.UploadService"/>
        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yAwjhZYaGx1lWOpkVXRigwT9" />
        <!-- 高德API -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="59426176b4c98cd1b201fd0c7005fd21" />
    </application>

</manifest>